* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: #000 url('img/bg2.png') no-repeat fixed center center/cover;
  height: 100vh;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.container2 {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

.center2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerImgs {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

a {
  text-decoration: none;
}

.cards2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card2 {
  cursor: pointer;
  background-color: transparent;
  height: 300px;
  perspective: 1000px;
}

.card2 h1 {
  font-size: 25px;
  color: rgb(34, 34, 34);
  /*border-bottom: 1px #fff solid;*/
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card2 img {
  width: 70%;
  object-fit: cover;
}
